{% extends "app/base.html" %}
{% load static %}


{% block titulo %}
MovieRate | Genders
{% endblock %}

{% block morehead %}
{% endblock %}


{% block contenido %}
<div class="general">
    <h4 class="latest-text w3_latest_text">Billboard Movies</h4>
    <div class="container">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div class="w3_agile_featured_movies">
                        {% for b in billboard %}
                        <div class="col-md-2 w3l-movie-gride-agile">
                            <a href="{% url 'app:view_movie' b.id %}">
                                <img src="{% static 'app/img/c8.jpg' %}" title="album-name" class="img-responsive"
                                    alt=" " />
                            </a>
                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6><a href="{% url 'app:view_movie' b.id %}">{{ b.title }}</a></h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul>
    {% for c in list_genres %}
    <a href="{% url  'app:view_genre' c.id %}">
        <li>{{ c.name }}</li>
    </a>
    {% endfor %}
</ul>

{% endblock %}