{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
MovieRate | Ranking
{% endblock %}

{% block morehead %}

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'app/css/news.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'app/css/list.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'app/css/table-style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'app/css/basictable.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'app/js/jquery.basictable.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#table').basictable();

    $('#table-breakpoint').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint1').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint2').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint3').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint4').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint5').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint6').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint7').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint8').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint9').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint10').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint11').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint12').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint13').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint14').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint15').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint16').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint17').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint18').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint19').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint20').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint21').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint22').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint23').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint24').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint25').basictable({
      breakpoint: 768
    });
    $('#table-breakpoint26').basictable({
      breakpoint: 768
    });
  });
</script>
<!-- //tables -->

{% endblock %}
{% block contenido %}
<!-- faq-banner -->
<div class="faq">
  <h4 class="latest-text w3_faq_latest_text w3_latest_text">Ranking</h4>
  <div class="container">    
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">      
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
          <div class="agile-news-table">
            <div class="w3ls-news-result">
              <h4>Search Results : <span>{{movie_list.count}}</span></h4>
            </div>
            <table id="table-breakpoint">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Movie Name</th>
                  <th>Year</th>
                  <th>Duration</th>                  
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                {% for x in averages_list %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{x.title}}</td>
                  <td>{{x.year}}</td>
                  <td>{{x.duration}}</td>
                  <td>{{x.average_score}}</td>
                </tr>
                {% endfor %}               
              </tbody>
            </table>
          </div>
        </div>         
      </div>
    </div>
  </div>
</div>
<!-- //faq-banner -->
{% endblock %}