{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
MovieRate | Resultados
{% endblock %}

{% block morehead %}
{% endblock %}

{% block contenido %}


<h4 class="latest-text w3_latest_text">You searched: {{query}}</h4>

<ul>
    <div class="general">
        <div class="container">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="w3_agile_featured_movies">
                            {% for p in movies_list %}
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <a href="{% url 'app:view_movie' p.id %}" class="hvr-shutter-out-horizontal"><img
                                        src="/static/app/img/posters/{{p.id}}.jpg" title="album-name"
                                        class="img-responsive" alt=" " />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="{% url 'app:view_movie' p.id %}">{{ p.title }}</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>2016</p>
                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>

{% endblock %}